<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{% static 'js/checkbox.js' %}"></script>
</head>
<body>
{% if request.session.user == None %}
<h3>Hi, Guest</h3>
<a href="/ORS/Welcome/"><b>Welcome</b></a>
<a href="/ORS/Login/"><b>Login</b></a>
{% else %}
<h3>Hi, {{request.session.user}}</h3>
<a href="/ORS/User/"><b>Add User</b></a>
<a href="/ORS/UserList/"><b>UserList</b></a>
<a href="/ORS/Logout/"><b>Logout</b></a>           |
<a href="/ORS/Attribute/"><b>AddAttribute</b></a>
<a href="/ORS/AttributeList/"><b>Attribute List</b></a> |
<a href="/ORS/Initiative/"><b>AddInitiative</b></a>
<a href="/ORS/InitiativeList/"><b>Initiative List</b></a> |
<a href="/ORS/Employee/"><b>Add Employee</b></a>
<a href="/ORS/EmployeeList/"><b>EmployeeList</b></a>  |
<a href="/ORS/Client/"><b>Add Client</b></a>
<a href="/ORS/ClientList/"><b>ClientList</b></a>   |
<a href="/ORS/Physician/"><b>Add Physician</b></a>
<a href="/ORS/PhysicianList/"><b>PhysicianList</b></a>  |
<a href="/ORS/Medication/"><b>Medication</b></a>
<a href="/ORS/MedicationList/"><b>MedicationList</b></a>  |
<a href="/ORS/Follow_Up/"><b>Follow_Up</b></a>
<a href="/ORS/Follow_UpList/"><b>Follow_UpList</b></a>  |
{% endif %}
<hr>
</body>
</html>
